<mat-toolbar color="accent">
  <div fxHide.gt-xs><button mat-icon-button (click)="onTogglesideNav()">
    <mat-icon>menu</mat-icon>
  </button></div>
  <div>
    <a routerLink="/">LOGO</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-item">
      <li *ngIf="!(isAuth$ |async)"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!(isAuth$ |async)"><a routerLink="/login">Login</a></li>
      <li *ngIf="(isAuth$ |async)"><a routerLink="/training">Training</a></li>
      <li *ngIf="(isAuth$ |async)"><a style="cursor: pointer" (click)="onLogout()">LogOut</a></li>
    </ul>
  </div>
</mat-toolbar>
